html * {
    color: white;
    --_-light-wood: url('./media/lighterVersion.webp');
    --_-dark-wood: url('./media/testingTry.webp');
}

/*CHARACTER SHEET*/
.characterSheet {
    --_-left-width: 250;
    --_-left-padding: 4;
    --_-middle-padding: 4;
    --height: 450px;
    max-width: 800px;
    height: var(--height);
    max-height: var(--height);
    display: grid;
    grid-template-columns: calc((var(--_-left-width) * 1px) + (var(--_-left-padding) * 2px)) 2fr 1fr;
    gap: calc(var(--_-middle-padding) * 1px);
}
.characterSheet > * {
    max-height: var(--height);;
}
.text-inter {
    font-family: 'Inter', sans-serif;
}
.text-fantasy {
    font-family: 'Caesar Dressing', cursive;
}

/*GENERAL USE*/
.hidden {
    display: none !important;
}
.tag {
    font-size: .8rem;
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    border-radius: 9999px;
    padding: 2px 8px;
}
.tag span {
    color: #000;
}
.borderbackground {
    background-image: var(--_-light-wood);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.borderbackground:after {
    content: '';
    position: absolute;
    --top: 8px;
    --left: 8px;
    top: calc(var(--top) / 2);
    left: calc(var(--left) / 2);
    width: calc(100% - (var(--left) * 1));
    height: calc(100% - (var(--top) * 1));
    background-image: var(--_-dark-wood);
    background-repeat: repeat;
    background-size: 400px 400px;
}

/*LEFT SIDE*/
.leftside {
    --_-padding: var(--_-left-padding);
    --_-width: var(--_-left-width);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: calc(var(--_-padding) * 1px);
}
/*Images*/
.imageFrame {
    --_-height: 200px;
    position: relative;
    display: inline-block;

    width: calc(var(--_-width) * 1px);
    height: var(--_-height);
    padding: calc(var(--_-padding) * 1px);
    z-index: 1;
}
.imageFrame img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageFrame:hover {
    cursor: pointer;
}
/*Stats*/
.stats {
    position: relative;
    --statBox-width: calc((var(--_-width) * 1px) - (var(--_-padding) * 2px));
    width: calc(var(--_-width) * 1px);
    padding: calc(var(--_-padding) * 1px);
}
.statBox {
    padding: calc(var(--_-padding) * 1px);
    width: var(--statBox-width);
    font-size: 0.7rem;
    box-shadow: -.5rem .8rem .8rem .3rem rgba(0,0,0, .05), 
  .5rem -.6rem .8rem .5rem rgba(255,255,255, .1);
    position: relative;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(var(--_-padding) * 1px);
}
.statBox .tag {
    width: calc((var(--statBox-width) - var(--_-padding) * 1px) / 2 - (var(--_-padding) * 3px));
    display: grid;
    grid-template-columns: 1fr max-content;
}
.statBox span {
    padding-right: 6px;
}
.statBox p {
    margin: 0;
    padding: calc(var(--_-padding) * 1px);
}
/*btn-default-container*/
.btn-default, .btn-default button  {
    --local-height: 44px;
    height: var(--local-height);
    position: relative;
    width: calc((var(--_-left-width) * 1px) + (var(--_-left-padding) * 2px));
    background-image: var(--_-light-wood) !important;
    background-repeat: repeat;
    background-size: auto 100px;
    transition: font-size 0.3s;
    background: none;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
}
.btn-default:hover, .btn-default:hover button {
    font-size: 1rem;
}
.btn-secondary {
    background: none;
    border: white 1px solid;
    border-radius: 9999px;
    padding: calc(var(--_-padding) * 1px) calc(var(--_-padding) * 3px);
    color: white;
    cursor: pointer;
}
.btn-secondary:hover {
    background: white;
    color: black;
}

/*MIDDLE SIDE*/
/*Character Sheet*/
.middle {
    --_-padding: var(--_-middle-padding);
    --_-width: 100%;
    max-height: 100%;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: calc(var(--_-padding) * 1px);
    color: #FFF;
}
.middle:has(button.hidden) {
    grid-template-rows: 1fr;
}
.middle-container {
    padding: calc(var(--_-padding) * 2px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(var(--_-padding) * 1px);
}
.middle .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--_-padding) * 2px);
}
.middle .header div {
    display: flex;
    flex-direction: row;
    gap: calc(var(--_-padding) * 2px);
}
.middle .header h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.middle .header p {
    margin: 0;
}

.middle .classList {
    display: flex;
    flex-direction: column;
    gap: calc(var(--_-padding) * 1px);
    padding: calc(var(--_-padding) * 1px);
    margin: 0;
}
.editClasses {
    max-height: calc(var(--height) - (var(--_-padding) * 5px) - 44px);
    overflow-y: auto;
}

/*EditItem*/
.editClasses > .topOptions {
    display: flex;
    flex-direction: row-reverse;
    gap: calc(var(--_-padding) * 1px);
    width: 100%;
}
.editItem {
    margin: 0;
    padding: calc(var(--_-padding) * 1px);
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--_-padding) * 2px);
}
.editItem h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}
.editItem h4 input {
    display: block;
    font-size: 1rem !important;
    background-color: #FFF !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    padding: 2px 8px !important;
    width: max-content !important;
    min-width: 250px !important;
}
.editItem h4 input {
    all: unset;
    color: black;
    border-bottom: 1px solid white;
}
.editItem .header > span {
    font-size: 0.8rem;
    font-weight: 300;
}
.editItem .controls {
    display: flex;
    flex-direction: row-reverse;
    gap: calc(var(--_-padding) * 1px);
}
.editItem .controls button {
    background: none;
    border: white 1px solid;
    border-radius: 9999px;
    padding: calc(var(--_-padding) * 1px) calc(var(--_-padding) * 3px);
    color: white;
    cursor: pointer;
}
.editItem .controls button:hover {
    background: white;
    color: black;
}
.editItem .class-stats-ul {
    overflow-y: auto;
    padding:0;
    margin:0;
    margin-block: calc(var(--_-padding) * 1px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.editItem .class-stats-ul li {
    list-style: none;
    width: calc(32% - (var(--_-padding) * 3px) - 2px);
    gap: calc(var(--_-padding) * 1px);
    row-gap: calc(var(--_-padding) * 2px);
}
.editItem .class-stats-ul li input {
    all: unset;
    width: 100%;
    color: black;
    border-bottom: 1px solid white;
}
.smallheader:has(+.hidden) {
    display: none !important;
}
.smallheader {
    display: block;
    width: 100;
    border-bottom: 1px solid white;
    font-size: 0.8rem;
}

/*EditTextArea*/
.class-desc {
    width: 100%;
    height: max-content;
    color: white;
}
.class-desc textarea {
    width: calc(100% - (var(--_-padding) * 4px) - 2px);
    padding: calc(var(--_-padding) * 2px);
    margin-top: calc(var(--_-padding) * 1px);
    min-height: 60px;
    color: black;
    background: white;
    border: transparent 1px solid;
    resize: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
}
/*RIGHT SIDE*/
.rightside {
    position: relative;
    --_-padding: var(--_-middle-padding);
    padding: calc(var(--_-padding) * 2px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--_-padding) * 1px);
}