html * {
    color: white;
    --_-light-wood: url('./media/lighterVersion.webp');
    --_-dark-wood: url('./media/testingTry.webp');
}

/*CHARACTER SHEET*/
.characterSheet {
    --_-left-width: 200;
    --_-left-padding: 4;
    --_-middle-padding: 4;
    display: grid;
    grid-template-columns: calc((var(--_-left-width) * 1px) + (var(--_-left-padding) * 2px)) 2fr 1fr;
    gap: calc(var(--_-middle-padding) * 1px);
}
.text-inter {
    font-family: 'Inter', sans-serif;
}
.text-fantasy {
    font-family: 'Caesar Dressing', cursive;
}

/*GENERAL USE*/
.borderbackground {
    background-image: var(--_-light-wood);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.borderbackground:after {
    content: '';
    position: absolute;
    --top: 8px;
    --left: 8px;
    top: calc(var(--top) / 2);
    left: calc(var(--left) / 2);
    width: calc(100% - (var(--left) * 1));
    height: calc(100% - (var(--top) * 1));
    background-image: var(--_-dark-wood);
    background-repeat: repeat;
    background-size: 400px 400px;
}

/*LEFT SIDE*/
.leftside {
    --_-padding: var(--_-left-padding);
    --_-width: var(--_-left-width);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: calc(var(--_-padding) * 1px);
}
/*Images*/
.imageFrame {
    --_-height: 200px;
    position: relative;
    display: inline-block;

    width: calc(var(--_-width) * 1px);
    height: var(--_-height);
    padding: calc(var(--_-padding) * 1px);
    z-index: 1;
}
.imageFrame img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageFrame:hover {
    cursor: pointer;
}
/*Stats*/
.stats {
    position: relative;
    --statBox-width: calc((var(--_-width) * 1px) - (var(--_-padding) * 2px));
    width: calc(var(--_-width) * 1px);
    padding: calc(var(--_-padding) * 1px);
}
.statBox {
    padding: calc(var(--_-padding) * 1px);
    width: var(--statBox-width);
    font-size: 0.7rem;
    box-shadow: -.5rem .8rem .8rem .3rem rgba(0,0,0, .05), 
  .5rem -.6rem .8rem .5rem rgba(255,255,255, .1);
    position: relative;
    color: black;
}
.statBox p {
    margin: 0;
    padding: 0;
}
/*newCharacterBtnDiv*/
.newCharacterBtnDiv {
    position: relative;
    width: calc((var(--_-left-width) * 1px) + (var(--_-left-padding) * 2px));

    --local-height: 44px;
    height: var(--local-height);

    display: grid;
    place-items: center;
    background-image: var(--_-light-wood);
    background-repeat: repeat;
    background-size: cover;
    transition: height 0.3s;
}
.newCharacterBtnDiv button {
    background: none;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.newCharacterBtnDiv:hover {
    height: calc(var(--local-height) + 4px);
}

/*MIDDLE SIDE*/
.middle {
    --_-padding: var(--_-middle-padding);
    --_-width: 100%;
    padding: calc(var(--_-padding) * 2px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(var(--_-padding) * 1px);
    color: #FFF;
}
.middle .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(var(--_-padding) * 4px);
}
.middle .header * {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.middle .tag {
    font-size: .8rem;
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    border-radius: 9999px;
    padding: 2px 8px;
}

/*RIGHT SIDE*/
.rightside {
    position: relative;
}