html {
    --red: #FC2007;
    --scroll-bg: #D5A977;
    --scroll-bg-darker: #B08C5A;
    --yellow: #FFD700;
    --black: #000;
    --white: #FFF;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}
main {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}
main > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.font-default {
    font-family: 'Inter'
}
.font-styled {
    font-family: "Macondo";
}
.grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}
.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}
.grid-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}
.hidden {
    display: none !important;
}

.screen {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-screen {
    overflow: hidden;
    --padding-inline: 16px;
    width: calc(100% - var(--padding-inline) * 2);
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 48px;
    padding-inline: var(--padding-inline);
}
.section-header {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
hr {
    width: 100%;
    border-color: var(--black);
    border-radius: 1px;
    margin-block: 16px;
}
hr.margin-b-half {
    margin-bottom: 8px;
}
.btn-default {
    all: unset;
    padding: 8px 16px;
    background: var(--scroll-bg);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Macondo";
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background 0.2s;
}
.btn-default:hover {
    background: var(--black);
    color: var(--scroll-bg);
}
.btn-red {
    border: 1px solid var(--red);
    color: var(--red);
}
.btn-red:hover {
    background: var(--red);
    color: var(--scroll-bg);
}
.btn-small {
    padding: 4px 8px;
    font-size: 1rem;
}
#toggle-btn {
    background: transparent;
    border: transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
    z-index: 1;
    padding: 0;
    height: 32px;
    width: max-content;
}
#toggle-btn > span {
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--scroll-bg);
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.25));
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 8px 16px; 
}
#toggle-btn:hover {
    transform: scale(1.1);
    color: var(--black);
}
#toggle-btn:before,
#toggle-btn:after {
    content: "";
    height: 100%;
    width: 30px;
    background: var(--scroll-bg-darker);
    position: absolute;
    border: 1px solid transparent;
    transform: translateZ(-1px);
    top: 20%;
}
#toggle-btn:before {
    z-index: -1;
    left: 0;
    transform: translateX(-70%);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
#toggle-btn:after {
    z-index: -1;
    right: 0;
    transform: translateX(70%);
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}
.error-div {
    position: relative;
    display: block;
    height: 24px;
    grid-template-columns: 1fr;
    width: 100%;
    display: grid;
    place-items: center;
}
.error-div > .error-span {
    position: absolute;
    min-height: max-content;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    color: var(--red);
    font-size: 0.8rem;
    font-family: "Macondo";
    text-align: center;
}
.error-span.shake {
    animation-duration: 500ms;
    animation-name: shake;
    animation-iteration-count: 2;
}
@keyframes shake {
    25%{
      transform: translateX(calc(-50% + 5px)) translateY(50%);
    }
    50%{
      transform: translateX(calc(-50% - 5px)) translateY(50%);
    }
  }

.creation-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    --gap: 4px;
    --padding: 4px;
    gap: calc(var(--gap) * 2);
}
.creation-form .top-with-image {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: calc(var(--gap) * 2);
    margin-bottom: var(--gap);
}
.creation-form .top-with-image img {
    width: 90px;
    max-width: 90px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.creation-form .top-with-image > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.creation-form .character-assignments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}
.creation-form label {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}
.creation-form label > span:not(.grid-col-3, .grid-col-2) {
    font-weight: bold;
    font-family: "Macondo";
    font-size: 0.8rem;
    border-bottom: 1px solid var(--black);
}
.creation-form #character-stats > label > span {
    font-size: 0.7rem;
}
.creation-form fieldset {
    padding: 0;
    margin: 0;
    gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
}
.creation-form label > input,
.creation-form .grid-col-3 > input,
.creation-form select {
    all: unset;
    color: var(--black);
    padding: var(--padding);
    --border-width: 1px;
    border: var(--border-width) solid var(--black);
    width: calc(100% - var(--padding) * 2 - var(--border-width) * 2);
    font-size: 0.8rem;
} 
.creation-form label > textarea {
    all: unset;
    color: var(--black);
    padding: var(--padding);
    --border-width: 1px;
    border: var(--border-width) solid var(--black);
    width: calc(100% - var(--padding) * 2 - var(--border-width) * 2);
    font-size: 0.8rem;
}
#class-stats-label > p,
#species-stats-label > p,
#character-stats-label > p,
.stat-variability-label > p {
    margin: 0;
    font-size: 0.8rem;
}

@keyframes collapseScroll {
    0% {
        bottom: 0;
    }
    90% {
        bottom: calc(120% - 144px);
    }
    100% {
        bottom: 0;
    }
}
@keyframes expandScroll {
    0 {
        bottom: 80%;
    }
    20% {
        bottom: calc(60%);
    }
    70% {
        bottom: calc(10%);
    }
    100% {
        bottom: 0;
    }
}
.scroll {
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.15));
    position: relative;
    min-width: 600px;
    width: max-content;
    display: grid;
    grid-template-rows: 0fr;
    place-items: center;
    padding-block: 50px;
    transition: grid-template-rows 2s ;
    max-height: 80vh;
}
.scroll > div {
    overflow: hidden;
    background: var(--scroll-bg);
    width: 80%;
    height: 100%;
    max-height: 100%;
}
.scroll.open {
    grid-template-rows: 1fr;
}
.scroll:not(.open) > img:last-of-type {
    animation: 2s 1 alternate collapseScroll;
}
.scroll.open:not(.DONOTRUN) > img:last-of-type {
    animation: 2s 1 alternate expandScroll;
}
.scroll > img {
    position: absolute;
    width: auto;
    height: 72px;
}
.scroll > img:first-of-type {
    top: 0;
    left: 0;
    transform: translateY(-50% + ) translateX(-50%);
}
.scroll > img:last-of-type {
    filter: brightness(110%) drop-shadow(20px 10px 16px rgba(0, 0, 0, 0.25));
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}
.scroll.close:hover {
    animation: wiggle 3s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   5% { transform: rotate(-5deg); }
   10% { transform: rotate(5deg); }
   15% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

#chosen-character {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 12px;
}
#chosen-character img {
    height: 127px;
    overflow: hidden;
    border-radius: 4px;
}
#chosen-character > * {
    margin: 0;
}
#chosen-character div.contain {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#chosen-character div.contain > * {
    margin: 0;
}
#chosen-character .topPart {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
}
#chosen-character .topPart > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#chosen-character .basic-info p {
    margin: 0;
}
#chosen-character .basic-info > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}
#chosen-character .basic-info > div p {
    font-size: .8rem;
}
#chosen-character .basic-info > div span {
    font-weight: bold;
}
.character-chosen-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    list-style: none;
    padding: 0;
}
.character-chosen-stats span {
    font-weight: bold;
    font-size: 0.8rem;
}

.small-screen {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}
.chosen-character-sm-header {
    font-weight: bold;
    font-family: "Macondo";
    font-size: 0.8rem;
    border-bottom: 1px solid var(--black);
}

#classes-ul,
#species-ul,
#characters-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}
#classes-ul > li,
#species-ul > li,
#characters-ul > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    border: 1px solid var(--black);
    border-radius: 4px;
}
#classes-ul > li > h3,
#species-ul > li > h3,
#characters-ul > li > h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: "Macondo";
}
#classes-ul > li > p,
#species-ul > li > p,
#characters-ul > li > p {
    margin: 0;
    font-size: 1rem;
    font-family: "Macondo";
}
#classes-ul > li > div,
#species-ul > li > div,
#characters-ul > li > div {
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 4px;
}
.newCharacterBtnContainer {
    margin-bottom: 4px;
}

.image-btn-thingy {
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.image-btn-thingy:hover {
    cursor: pointer;
}
.image-btn-thingy:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0;
    transition: background 0.2s ease;
}
.image-btn-thingy:hover:after {
    color: var(--white);
}
.image-btn-thingy:hover:before {
    background: rgba(0, 0, 0, 0.5);
}
.image-btn-thingy:after {
    font-family: "Macondo";
    content: "Change";
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: color 0.2s ease;
    z-index: 5;
}

#images-ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
    max-width: 430px;
}
#images-ul > li {
    cursor: pointer;
    width: 100%;
    height: min-content;
    aspect-ratio: 1 / 1;
    list-style: none;
    padding: 0;
    display: grid;
    place-items: center;
}
#images-ul > li > img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    transition: transform 0.2s ease;
}
#images-ul > li:hover > img {
    transform: scale(1.1);
}